@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: #030303;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h2 {
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 30px;
}

.container {
  text-align: center;
  padding: 20px;
}

hr {
  height: 3px;
  background-color: red;
  border: none;
  margin: 15px 0;
  width: 100%;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: orangered;
  display: block;
  margin: 0 auto;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}


form {
    width: 630px;
    height: 270px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
    box-shadow: 0 3px 15px orangered;
}

form h1 {
    text-shadow: 2px 2px 5px red;
}

form button {
    font-family: "Press Start 2P", cursive;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 70px;
    border: 2px solid black;
    background-color: orangered;
    text-transform: uppercase;
    font-size: 1.3rem;
    transition: 400ms;

}

form button:hover {
    background-color: rgb(247, 49, 14);
    color: white;
}

.inputWrapper {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.inputWrapper label {
    width: 30%;
    font-size: 14px;
}

.inputWrapper input {
    width: 70%;
    height: 100%;
    background-color: rgba(255, 68, 0, 0.192);
    padding-left: 5px;
    font-size: 13px;
}

.cards-containter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  position: relative;
  height: 400px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.534);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.466);
  overflow: hidden;
}

.game-card button {
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:rgb(179, 4, 4);
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.game-card button:hover {
	background-color:rgb(201, 60, 60);
}


.img-wrapper {
  width: 100%;
  height: 370px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
    form {
        width: 100%;
    }
    
}
